body{
    height:auto;
}

.header{
    padding:5px;
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    background-color: rgb(251, 251, 251);
    float: right;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
}

.main-container h2{
    font-family: 'Tektur', cursive;;
    font-size: 40px;
    
    /* text-align: center; */
 }
.main-container h1{
    font-family: 'Righteous', cursive;
    
 }
.icon{
    display: flex;
    flex-direction: row;
    width: 300px;
    float: left;
    height: 70px;
    padding-left: 10px;
}

#section2 img{
    width:370px;
}

.icon img{
    width:70px;
    border-radius: 100%;
    padding: 3px;
}

.logo{
    color: rgb(4, 52, 26);;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 5px
}
.icon p{
    float:right;
    size: 20px;
    color: rgb(4, 52, 26);;
}



ul{
    float: left;
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
/*------------------------------------------------------------------*/

/*#footer{
    display: grid;
    grid-template-columns: 35% 65%;
    padding:5px;
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    background-color: rgb(2, 56, 5);
    float: right;
    border-radius: 15px 15px 0px 0px;
    position: relative;
   
}

.footer-menu img{
    width:50px;
}
.footer-menu ul{

    display: flex;
    flex-direction: column;
}

.footer-details{
    color: #fff;
    padding: 0px 100px 0px 20px;
    
}
.footer-details p,h2{
    padding-left:30px; 
}*/

footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin-bottom: 0;
    margin-top: 10vw;
    background-color: rgb(21, 22, 21);
    float: right;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    padding-top: 60px;
    color: #fff;
    
}
.footer-content{
    display: flex;
    /* align-items: center;
    justify-content: center;  */
    flex-direction: column;
    text-align: left;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 82vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}

.form{
    width: 400px;
    height: 350px;
    background-color: rgb(8, 8, 8);
    position: absolute;
    top:25%;
    left: 55%;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    justify-content: center;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */

::placeholder{
    color: #575757;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #03573a;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.4s ease;
    margin-left: 100px;
}
.btnn:hover{
    background: #090341;
    
}
.btnn a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
textarea {
    width: 100%;
    min-height: 70px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
    margin-top: 6px;
    &:focus {
      outline: none;
      border: 1px solid darken(#ddd, 5%);
      box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
    }
    &[placeholder] { 
      font-size: 0.875rem;
    }
  }
  
  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
  }

